.progbarwindow {
    position: absolute;
    left: 30%;
    top: 30%;
    width:40%;
    height:40%;
    border: 1px solid navy;
    background-color: lightgrey;
    z-index: 1000;
 }

 .progbargroup{
    left:10%; /* left margin 10% */
    width:80%; /* right margin is 10% and hence width is 80% */
    top:10%;
    height: 65%; /* Since top margin is 10% made only 70% without any bottom margin as button alreay have some margin */
    position: absolute;
}

.buttonbar{ 
    left:10%; /* left margin 10% */
    width:80%; /* right margin is 10% and hence width is 80% */
    top:85%; /* Bottom 20% is for button bar and margin 5% so 85% from top  so hight is 10% */
    height:10%;
    position: absolute;
}

.progbar{
    left:5%;
    width:90%;
    border: 1px solid cadetblue;
    background-color: aliceblue;
    position: relative;
}

.progtext {
    position: absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    line-height: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}

.progress{
    line-height: 100%;
    left:0px;
    top:0px;
    height:100%;
    position: absolute;
    background-color: cornflowerblue;
}
.exceeded{
    background-color:red;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* For Responsite */
@media(max-width: 1200px){
   
}

@media(max-width: 800px){
    .progbarwindow {
        left: 25%;
        width:50%;
     }  
}

@media(max-width: 600px){
    .progbarwindow {
        left: 10%;
        width:80%;
     }  
}

@media(max-width: 420px){
    .progbarwindow {
        left: 5%;
        width:90%;
     }  
}

@media(max-width: 320px){
    .progbarwindow {
        left: 1%;
        width:98%;
     }  
}

@media(max-height: 600px){
    .progbarwindow {
        top: 20%;
        height:60%;
     }  
}

@media(max-height: 400px){
    .progbarwindow {
        top: 15%;
        height:70%;
     }  
}

@media(max-height: 350px){
    .progbarwindow {
        top: 10%;
        height:80%;
     }  
}

@media(max-height: 300px){
    .progbarwindow {
        top: 5%;
        height:90%;
     }  
}

@media(max-height: 200px){
    .progbarwindow {
        top: 1%;
        height:98%;
     }  
}
